---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Biftin's Website">
	<main class="grid place-items-center h-full text-white">
		<h1>Welcome to<br><span class="text-gradient">Biftin</span>'s Website</h1>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	main {
		@apply grid place-items-center w-full h-full text-white;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}
</style>
